fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy[asyncio]==2.0.36
aiomysql==0.2.0
redis==5.2.1
aiohttp==3.11.11
websockets==14.1
httpx==0.28.1
APScheduler==3.10.4
pydantic==2.10.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart==0.0.19
loguru==0.7.3
playwright==1.49.1
python-dotenv==1.0.1
qrcode[pil]==7.4.2
